/logs
/vm-files/vbios-roms
/vm-files/vmshare
/vm-files/*.fd
/vm-files/*.iso
/vm-files/*.vfd
/vm-files/*.img
/vm-files/MAC_ADDRESS.txt
.*.swp
.*.swo
thirdparty
/user.conf
/helper-iso-files/bin
/LookingGlass
/utils/nvflash_linux
/tmp
