/logs
/vm-files/vbios-roms
/vm-files/vmshare
/vm-files/*.fd
/vm-files/*.iso
/vm-files/*.img
/vm-files/*.aml
/vm-files/patched-ovmf-files
/vm-files/MAC_ADDRESS.txt
/acpi-tables/*.aml
/thirdparty
/user.conf
/helper-iso-files/bin
/utils/nvflash_linux
/helper-iso-files/drivers
.*.swp
.*.swo
*.asc
