[Desktop Entry]
Name=MobilePassThrough
Exec=/usr/bin/gnome-terminal --maximize -- /home/liveuser/get-mbpt.sh
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=true
X-GNOME-Autostart-enabled=true